# DATA PREPROCESSING AND DATA HANDLING
## FOR COUNTRIES

In [1]:
import pandas as pd
import numpy as np
import pickle


### Loading the dataset
df = pd.read_csv('F:\gokul\covid19_contries_wise.csv')

In [2]:
df

              Date      Country Current_Status  Total_Cases
0       22-01-2020  Afghanistan      Confirmed            0
1       22-01-2020  Afghanistan      Recovered            0
2       22-01-2020  Afghanistan         Deaths            0
3       22-01-2020  Afghanistan         Active            0
4       23-01-2020  Afghanistan      Confirmed            0
...            ...          ...            ...          ...
340987  08-04-2021     Zimbabwe         Active          706
340988  09-04-2021     Zimbabwe      Confirmed        37147
340989  09-04-2021     Zimbabwe      Recovered        34831
340990  09-04-2021     Zimbabwe         Deaths         1535
340991  09-04-2021     Zimbabwe         Active          781

[340992 rows x 4 columns]

In [3]:
date=df['Date'].str.split('-',expand=True)
date.columns=['Day', 'Month', 'Year']
date.head()

  Day Month  Year
0  22    01  2020
1  22    01  2020
2  22    01  2020
3  22    01  2020
4  23    01  2020

In [4]:
df = pd.concat([df,date],axis=1)
df

              Date      Country Current_Status  Total_Cases Day Month  Year
0       22-01-2020  Afghanistan      Confirmed            0  22    01  2020
1       22-01-2020  Afghanistan      Recovered            0  22    01  2020
2       22-01-2020  Afghanistan         Deaths            0  22    01  2020
3       22-01-2020  Afghanistan         Active            0  22    01  2020
4       23-01-2020  Afghanistan      Confirmed            0  23    01  2020
...            ...          ...            ...          ...  ..   ...   ...
340987  08-04-2021     Zimbabwe         Active          706  08    04  2021
340988  09-04-2021     Zimbabwe      Confirmed        37147  09    04  2021
340989  09-04-2021     Zimbabwe      Recovered        34831  09    04  2021
340990  09-04-2021     Zimbabwe         Deaths         1535  09    04  2021
340991  09-04-2021     Zimbabwe         Active          781  09    04  2021

[340992 rows x 7 columns]

In [5]:
Final_Dataset = df.groupby(['Day', 'Month', 'Year', 'Country', 'Current_Status'])[['Total_Cases']].sum()
Final_Dataset

                                           Total_Cases
Day Month Year Country     Current_Status
01  01    2021 Afghanistan Active                 7608
                           Confirmed             51526
                           Deaths                 2191
                           Recovered             41727
               Albania     Active                23501
...                                                ...
31  12    2020 Zambia      Recovered             18660
               Zimbabwe    Active                 2254
                           Confirmed             13867
                           Deaths                  363
                           Recovered             11250

[340992 rows x 1 columns]

In [6]:
Final_Dataset.to_csv('Countries_wise.csv')