# DATA CLEANING PROCESS

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
### Loading the dataset
df1 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')

In [3]:
df1

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1
3,4.0,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,...,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1
4,5.0,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,...,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17359,NaN,NaN,16/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2
17360,NaN,NaN,18/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
17361,NaN,NaN,18/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
17362,NaN,NaN,19/04/2020,NaN,NaN,NaN,NaN,Nagpur,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
17363,NaN,NaN,19/04/2020,NaN,NaN,NaN,NaN,NaN,Maharashtra,MH,...,Correction for district count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10

In [4]:
### Loading the dataset
df1 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')
df2 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data2.csv')
df3 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data3.csv')
df4 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data4.csv')
df5 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data5.csv')
df6 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data6.csv')
df7 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data7.csv')
df8 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data8.csv')
df9 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data9.csv')
df10 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data10.csv')
df11 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data11.csv')
df12 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data12.csv')
df13 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data13.csv')
df14 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data14.csv')
df15 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data15.csv')
df16 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data16.csv')
df17 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data17.csv')
df18 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data18.csv')
df19 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data19.csv')
df20 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data20.csv')
df21 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data21.csv')
df22 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data22.csv')
df23 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data23.csv')
df24 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data24.csv')
df25 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data25.csv')

In [5]:
df1.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [6]:
df25.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [7]:
df1 = df1.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df2 = df2.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df3 = df3.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df4 = df4.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df5 = df5.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df6 = df6.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df7 = df7.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df8 = df8.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df9 = df9.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df10 = df10.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df11 = df11.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df12 = df12.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df13 = df13.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df14 = df14.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df15 = df15.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df16 = df16.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df17 = df17.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df18 = df18.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df19 = df19.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df20 = df20.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df21 = df21.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df22 = df22.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df23 = df23.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df24 = df24.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]
df25 = df25.loc[:,['Date Announced', 'Detected District', 'Detected State', 'Current Status', 'Num Cases']]

In [8]:
Final_Dataset = df1.append([df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,
                            df21,df22,df23,df24,df25])

In [9]:
Final_Dataset

     Date Announced Detected District Detected State Current Status  Num Cases
0        30/01/2020          Thrissur         Kerala      Recovered        1.0
1        02/02/2020         Alappuzha         Kerala      Recovered        1.0
2        03/02/2020         Kasaragod         Kerala      Recovered        1.0
3        02/03/2020        East Delhi          Delhi      Recovered        1.0
4        02/03/2020         Hyderabad      Telangana      Recovered        1.0
...             ...               ...            ...            ...        ...
5998     05/04/2021               NaN            NaN            NaN        NaN
5999     05/04/2021               NaN            NaN            NaN        NaN
6000     05/04/2021               NaN            NaN            NaN        NaN
6001     05/04/2021               NaN            NaN            NaN        NaN
6002     05/04/2021               NaN            NaN            NaN        NaN

[569760 rows x 5 columns]

In [10]:
date=Final_Dataset['Date Announced'].str.split('/',expand=True)
date.columns=['Day', 'Month', 'Year']
date.head()

  Day Month  Year
0  30    01  2020
1  02    02  2020
2  03    02  2020
3  02    03  2020
4  02    03  2020

In [11]:
Final_Dataset = pd.concat([Final_Dataset,date],axis=1)
Final_Dataset

,Date Announced,Detected District,Detected State,Current Status,Num Cases,Day,Month,Year
0,30/01/2020,Thrissur,Kerala,Recovered,1.0,30,01,2020
1,02/02/2020,Alappuzha,Kerala,Recovered,1.0,02,02,2020
2,03/02/2020,Kasaragod,Kerala,Recovered,1.0,03,02,2020
3,02/03/2020,East Delhi,Delhi,Recovered,1.0,02,03,2020
4,02/03/2020,Hyderabad,Telangana,Recovered,1.0,02,03,2020
...,...,...,...,...,...,...,...,...
5998,05/04/2021,NaN,NaN,NaN,NaN,05,04,2021
5999,05/04/2021,NaN,NaN,NaN,NaN,05,04,2021
6000,05/04/2021,NaN,NaN,NaN,NaN,05,04,2021
6001,05/04/2021,NaN,NaN,NaN,NaN,05,04,2021
6002,05/04/2021,NaN,NaN,NaN,NaN,05,04,2021

In [14]:
New_Final_Dataset = Final_Dataset.groupby(['Day', 'Month', 'Year', 'Detected State', 'Detected District', 'Current Status'])[['Num Cases']].sum()
New_Final_Dataset

                                                                Num Cases
Day Month Year Detected State Detected District Current Status
01  01    2021 Andhra Pradesh Anantapur         Hospitalized         24.0
                                                Recovered            27.0
                              Chittoor          Hospitalized         44.0
                                                Recovered            66.0
                              East Godavari     Hospitalized         45.0
...                                                                   ...
31  12    2020 West Bengal    South 24 Parganas Deceased              1.0
                                                Hospitalized         50.0
                                                Recovered           131.0
                              Uttar Dinajpur    Hospitalized         15.0
                                                Recovered            15.0

[387543 rows x 1 columns]

In [15]:
New_Final_Dataset.to_csv('Covid19_India_Final_Dataset1.csv')